@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<h4 class="page-header">Dashboard</h4>

<div class="row">
    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-dark text-black-50">
            <h4 class="m-0 font-weight-bold text-primary"> SHULE ONLINE SCHOOL MANAGEMENT SYSTEM</h4>
        </div>
        <div class="card-body">
            yes. Shule school management software is the solution to a lot of the issues arising from outdated processes and functions that plague today’s educational institutions.

            But what is Shule online school management software?

            Simply put, it is a piece of educational technology that helps you automate everything in your college or school. Think of it is an all-in-one administrative assistant, finance department, record keeper, data analyst and report writer for all your needs. It is your most capable companion in running your educational needs and a handy resource in your day to day decision making.

            These might seem like a tall order, but the robust nature of a flexible online school management software, like Shule Manager, will be able to do all this and more. It will soon become an inextricable part of your educational journey
        </div>
    </div>
</div>
 <!-- Page Heading -->
<div class="d-sm-flex" style="margin:10px; background:blue; color:white;">
    <h1 class="h3 mb-0 text-gray-800" style="padding:5px;" >Statistics</h1>
</div> 